<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeatMap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.heat/0.2.0/leaflet-heat.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
    body {
        margin: 0;
        padding: 0;
    }
    #root {
        min-height: 750px;
        min-width: 1100px;
    }
    #controls {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 15px;
        width: 100%;
    }
    #controls div {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    </style>
</head>
<body>
    <div id="app">
        <div id="root"></div>
        <div id="controls">
            <div>
                {{ message }}
            </div>
            <div>
                <button v-on:click="playAnimation">Play Animation</button>
            </div>
            <div>
                <button id="download">Export Json</button>
            </div>
            <div>
                <label for="">Radius</label>
                <input type="range" min="1" max="100" value="50" class="slider" id="radius">
            </div>
            <!-- <input type="number" name="" id="noise" value="5"> -->
            <div>
                <select v-model="selectedDate">
                    <option v-for="date in dates" v-bind:value="date">
                        {{ date}}
                    </option>
                </select>
            </div>
            <div>
                <label>Intensity</label>
                <input type="range" min="1" max="20" value="13" class="slider" id="intense">
            </div>
        </div>
    </div>
    <script>

        var vue = new Vue({
            el: "#app",
            data: {
                map: {},
                tileLayer: {},
                heatLayer: {},
                selectedDate: "",
                dates: [],
                heatmapData: [],
                message: ''
            },
            watch: {
                selectedDate: function() {
                    this.showHeat();
                },
                heatmapData: function() {
                    console.log(this.heatmapData);
                }

            },
            mounted: function() {
                this.dates.push("Please select a date");
                this.map = L.map('root').setView([38.952724, -76.70125], 13);
                this.tileLayer = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '',
                    maxZoom: 8,
                    tileSize: 512,
                    zoomOffset: -1,
                });

                this.heatLayer = L.heatLayer([], {
                    radius: parseInt($("#radius").val())
                });

                this.tileLayer.addTo(this.map);
                this.heatLayer.addTo(this.map);

                this.getData();
            },
            methods: {
                log20: function(x) {
                    if (x == 0) {
                        return x;
                    }
                    if (Math.log1p(x) < 0) {
                        return 0.001;
                    }
                    else {
                        var intense = parseInt($("#intense").val()) / 10.0;
                        return Math.log1p(x) / Math.pow(intense, x);
                    }
                },
                getData: function() {
                    $.getJSON("/us_features.json")
                        .then(response => {
                            console.log(response);
                            this.heatmapData = response
                        });

                    $.getJSON("/dates.json")
                        .then(response => this.dates = response);
                },
                download: function() {
                    var a = document.createElement('a');
                    var blob = new Blob([JSON.stringify(content)], {'type':'text/plain'});
                    a.href = window.URL.createObjectURL(blob);
                    a.download = "us.json";
                    a.click();
                },
                showHeat: function(date) {
                    this.map.removeLayer(this.heatLayer);
                    var data = [];
                    console.log(this.heatmapData);
                    if(this.selectedDate != "" && this.selectedDate != undefined) {
                        data = this.heatmapData.filter(x => x.date == this.selectedDate);
                    }
                    //var noise = (num) => num + (Math.random() / parseInt($("#noise").val()));
        
                    var heat = data.map(x => [x.lat, x.lng, this.log20(x.deaths)]);
                    console.log(heat);
                    this.heatLayer = L.heatLayer(heat
                    , {radius: parseInt($("#radius").val())});
                    this.heatLayer.addTo(this.map);
                },
                playAnimation: function() {
                    this.dates.forEach(x => setTimeout(function() {
                        showHeat(x);
                        $("#dates").val(x);
                    }, 2000));
                }
            }
        });




    </script>
</body>
</html>